.message {
  background-color: #adffa9;
  border: 1px solid #2eca30;
  border-radius: 3px;
  border-width: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.message.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
